.mountain-control {
    -fx-padding:          5;
    -fx-background-color: rgb(40, 126, 255);
    -text-color:          rgb(255, 255, 255);
}

.mountain-control .scharten-circle {
    -fx-fill: rgb(255, 74, 161);
}

.mountain-control .distance-circle {
    -fx-fill: rgb(0, 214, 111);
}

.mountain-control .main-mountain {
    -fx-fill: white;
}

.mountain-control .neighbour-mountain {
    -fx-fill: rgb(157,187,232);
}

.mountain-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size:   24;
    -fx-fill:        derive(-base-color, 90%);
}


/*Mountain Slider Control*/

.mountain-slider-control {
    -fx-padding:          5;
    -fx-background-color: rgb(247, 250, 251);
    -text-color: rgb(84, 104, 134);
}


.mountain-slider-control .background-line {
    -fx-stroke: rgb(226, 233, 244);
}

.mountain-slider-control .value-line {
    -fx-stroke: rgb(157, 187, 232);
}

.mountain-slider-control .thumb {
    -fx-fill: rgb(157, 187, 232);
}

.mountain-slider-control .text {
    -text-color: rgb(84, 104, 134);
}